@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 12px/18px LatoRegular, sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.wrapper {
  min-width: 320px;
  overflow: hidden; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
/* Header
-----------------------------------------------------------------------------*/
header {
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 9; }

main .content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

body {
  background: url(../img/map.png) center center no-repeat;
  background-attachment: fixed; }

.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.btn-info:focus,
.btn-info:hover {
  color: #fff;
  background-color: #5bc0de; }

.btn-info {
  color: #fff;
  background-color: #3ccae4;
  border-color: #46b8da; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  float: right; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

button,
select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

* {
  box-sizing: border-box; }

.logo,
.menu,
.call,
.call_back,
.menu_button {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.slider1 {
  overflow: hidden; }

.owl-item {
  display: inline-block; }

.owl-prev {
  float: left; }

.owl-next {
  float: right; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #5bc0de; }

.owl-theme .owl-nav [class*="owl-"] {
  background: #3ccae4; }

.owl-nav-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 56%; }

.slider1 > .owl-nav {
  margin-top: 0px; }
.slider1 > .owl-dots {
  display: none; }

.slider2 {
  position: relative; }

main .slider2.owl-theme.owl-loaded.owl-drag .owl-prev,
main .slider2.owl-theme.owl-loaded.owl-drag .owl-next {
  display: none; }

main .slider2.owl-theme.owl-loaded.owl-drag div.owl-dots {
  margin-top: -39px;
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0; }

.call {
  font-size: 14px;
  position: relative; }

.logo img {
  width: 100%; }

.cv {
  background: #fff;
  padding: 0.5% 0;
  text-align: justify;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify; }

.cv:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block; }

.cv > div {
  display: inline-block;
  text-align: left;
  line-height: normal;
  vertical-align: middle; }

.menu > ul > li {
  float: left;
  width: auto;
  margin: 0 2%;
  font-size: 15px; }

.menu > ul > li ul li {
  width: auto;
  text-align-last: left;
  font-size: 17px;
  margin: 5px; }

a {
  color: #3ccae4; }

.menu > ul > li.color a {
  color: #3ccae4; }

.menu > ul > li a {
  text-transform: uppercase;
  color: #1e1e1e;
  font-size: 17px;
  font-weight: bold; }

.menu > ul > li > .line {
  width: 20px; }

.line {
  height: 2px;
  background: #3ccae4;
  width: 0px; }

.menu ul li:hover > .line {
  width: 100%;
  -webkit-transition: 1s;
          transition: 1s; }

.menu > ul > li ul li:hover > .line {
  width: 70%; }

.menu {
  margin: 1% auto; }

#submenu_1,
#submenu_2,
#submenu_3,
#submenu_4 {
  display: none;
  position: absolute;
  width: 20%;
  min-width: 300px;
  background: #fff;
  padding: 1%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3); }

#submenu_2,
#submenu_3,
#submenu_4 {
  left: 120px; }

#submenu_s1:hover #submenu_1 {
  display: block; }

#submenu_s2:hover #submenu_2 {
  display: block; }

#submenu_s3:hover #submenu_3 {
  display: block; }

#submenu_s4:hover #submenu_4 {
  display: block; }

.cv .menu_button {
  display: none; }

.slider2 {
  padding: 67px 0 0 0;
  max-width: 1600px;
  margin: 0 auto; }
  .slider2 .item {
    position: relative; }
  .slider2 .text {
    position: absolute;
    max-width: 400px;
    max-height: 200px;
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto;
    background: rgba(58, 58, 62, 0.8);
    padding: 1%;
    box-shadow: 1px 1px 1px 0 rgba(218, 237, 232, 0.5);
    border-radius: 5px; }
  .slider2 .head {
    text-align: center;
    font-size: 18px;
    margin: 1% 1% 5%; }
  .slider2 .tx1 {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 1%;
    font-size: 15px;
    text-align: justify;
    color: #fff; }
  .slider2 .btn_link {
    display: inline-block;
    width: 100%;
    position: relative; }
    .slider2 .btn_link button {
      float: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 36px; }

.circle {
  width: 641px;
  height: 641px;
  border: 2px solid #3ccae4;
  border-radius: 50%;
  position: relative;
  margin: 50px auto 0; }

div.itm_img {
  display: none;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(60, 202, 228, 0.2);
  border-radius: 20%;
  overflow: hidden; }
  div.itm_img img {
    width: 100%;
    height: auto; }

input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=radio].css-checkbox + label.css-label {
  padding-left: 83px;
  height: 79px;
  width: 83px;
  display: inline-block;
  line-height: 79px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  color: #000;
  position: absolute;
  background-color: #fff;
  border-radius: 10px; }

input[type=radio].css-checkbox + label.css-label.sp_c {
  padding-left: 88px;
  height: 82px;
  width: 88px;
  line-height: 82px; }

input[type=radio].css-checkbox + label.css-label.sp_c1 {
  padding-left: 83px;
  height: 77px;
  width: 83px;
  line-height: 77px; }

input[type=radio].css-checkbox:checked + label.css-label,
input[type=radio].css-checkbox:hover + label.css-label {
  background-position-x: -83px; }

input[type=radio].css-checkbox:checked + label.css-label.sp_c,
input[type=radio].css-checkbox:hover + label.css-label.sp_c {
  background-position-x: -88px; }

input[type=radio].css-checkbox:checked + label.css-label.sp_c1,
input[type=radio].css-checkbox:hover + label.css-label.sp_c1 {
  background-position-x: -83px; }

input[type=radio].css-checkbox:checked ~ div.itm_img {
  z-index: -1;
  display: block; }

input[type=radio].css-checkbox:hover ~ div.itm_img {
  display: block; }

input.css-checkbox[type="radio"] + label.css-label.radGroup1 {
  background-image: url(../img/c_1.png);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

input.css-checkbox[type="radio"] + label.css-label {
  background-image: url(../img/c_all.png);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

input.css-checkbox[type="radio"] + label.radGroup2 {
  background-position: 0 0; }

input.css-checkbox[type="radio"] + label.radGroup3 {
  background-position: 0 -79px; }

input.css-checkbox[type="radio"] + label.radGroup4 {
  background-position: 0 -158px; }

input.css-checkbox[type="radio"] + label.radGroup5 {
  background-position: 0 -237px; }

input.css-checkbox[type="radio"] + label.radGroup6 {
  background-position: 0 -316px; }

input.css-checkbox[type="radio"] + label.radGroup7 {
  background-position: 0 -393px; }

input.css-checkbox[type="radio"] + label.radGroup8 {
  background-position: 0 -472px; }

input.css-checkbox[type="radio"] + label.radGroup9 {
  background-position: 0 -550px; }

input.css-checkbox[type="radio"] + label.radGroup10 {
  background-position: 0 -629px; }

input.css-checkbox[type="radio"] + label.radGroup11 {
  background-position: 0 -707px; }

input.css-checkbox[type="radio"] + label.radGroup12 {
  background-position: 0 -785px; }

input.css-checkbox[type="radio"] + label.radGroup13 {
  background-position: 0 -863px; }

input.css-checkbox[type="radio"] + label.radGroup14 {
  background-position: 0 -942px; }

.i1 {
  top: -42px;
  left: 270px; }

.i2 {
  top: 0px;
  left: 126px; }

.i3 {
  top: 92px;
  left: 18px; }

.i4 {
  top: 205px;
  left: -39px; }

.i5 {
  top: 355px;
  left: -39px; }

.i6 {
  top: 469px;
  left: 18px; }

.i7 {
  top: 564px;
  left: 122px; }

.i8 {
  top: 599px;
  left: 277px; }

.i9 {
  top: 564px;
  left: 430px; }

.i10 {
  top: 469px;
  left: 538px; }

.i11 {
  top: 355px;
  left: 600px; }

.i12 {
  top: 205px;
  left: 600px; }

.i13 {
  top: 92px;
  left: 538px; }

.i14 {
  top: 0px;
  left: 430px; }

.menu_button #submenu_0 {
  position: absolute;
  display: none;
  display: none;
  width: 20%;
  min-width: 300px;
  background: #fff;
  padding: 1%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  top: 50px;
  right: 10px; }
  .menu_button #submenu_0 ul li {
    float: none;
    text-align: left; }
    .menu_button #submenu_0 ul li #submenu_1,
    .menu_button #submenu_0 ul li #submenu_2,
    .menu_button #submenu_0 ul li #submenu_3,
    .menu_button #submenu_0 ul li #submenu_4 {
      margin-left: 20px;
      min-width: 250px;
      left: auto; }
    .menu_button #submenu_0 ul li #submenu_2,
    .menu_button #submenu_0 ul li #submenu_3,
    .menu_button #submenu_0 ul li #submenu_4 {
      min-width: 200px; }
.menu_button .container {
  display: inline-block;
  cursor: pointer; }
.menu_button .bar1,
.menu_button .bar2,
.menu_button .bar3 {
  width: 35px;
  height: 5px;
  background-color: #31b0d5;
  margin: 6px 0;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  border-radius: 20%; }
.menu_button input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
.menu_button input[type=checkbox].css-checkbox + label.css-label {
  vertical-align: middle;
  cursor: pointer; }
.menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }
.menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar2 {
  opacity: 0; }
.menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px); }
.menu_button input[type=checkbox].css-checkbox:checked ~ #submenu_0 {
  display: inline-block; }

.price-button {
  margin: 70px 0;
  vertical-align: baseline; }
  .price-button div:first-child {
    margin: 0 0 0 10px; }
  .price-button div:last-child {
    margin: 0 10px 0 0; }

.price-button.cv {
  background-color: transparent; }

.slider2 .item img {
  width: 100%;
  height: auto; }

.about_company {
  background: url(../img/2-layers.png) center center no-repeat;
  background-size: cover; }
  .about_company .artcle {
    padding: 5%;
    font-size: 16px;
    line-height: 20px;
    text-align: justify; }

.slider3 {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  height: 93px; }
  .slider3 .owl-stage-outer {
    position: relative; }
  .slider3 .owl-nav {
    margin-top: -61px;
    position: relative; }

.title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px auto; }

/*----------------------footer----------------------*/
.foterBeckground {
  padding: 30px 0;
  background-color: #333333; }

.row {
  font-size: 0; }
  .row > div {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    padding: 1%;
    margin: 1%; }

.widgettitle {
  font-size: 22px;
  color: #3ccae4;
  font-family: "LatoRegular";
  font-weight: 300;
  margin-bottom: 25px;
  text-transform: uppercase; }

.menuFoter {
  list-style-type: none; }

.menuFoter li {
  color: #999999;
  padding: 8px 0;
  border-bottom: 1px solid #4d4d4d; }

.menuFoter li a {
  color: #999999;
  font-size: 14px;
  -webkit-transition: 1s;
          transition: 1s;
  font-weight: 300; }

.menuFoter li span {
  margin-right: 10px;
  font-size: 22px;
  color: #999999; }

.imgc {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute; }

.imgc img {
  width: 100%;
  height: 100%; }

.textImgFoter {
  margin-left: 35px;
  display: inline-block;
  color: #999999; }

.menuFoter li:hover a {
  -webkit-transition: 1s;
          transition: 1s;
  color: #ffffff; }

.menuFoter li:hover .textImgFoter {
  -webkit-transition: 1s;
          transition: 1s;
  color: #ffffff; }

.menuFoter li:hover span {
  -webkit-transition: 1s;
          transition: 1s;
  color: #ffffff; }

.foter {
  position: relative; }

.imgTransport img {
  width: 100%; }

/*------------------footer-------------------------*/
.clear:after,
.clear:before {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

@media (max-width: 1280px) {
  .cv > .menu {
    display: none; }

  .cv .menu_button {
    display: inline-block; }

  .owl-nav-text {
    width: 67%; }

  .call {
    margin-left: 30%; }

  .slider2 {
    padding: 48px 0 0 0; } }
@media (max-width: 1042px) {
  .item .text {
    display: none; }

  .cv > .call {
    display: none; }

  .call_back {
    margin-left: 30%; }

  .logo {
    width: 32.26%; }

  .row > div {
    width: 48%; } }
@media (max-width: 600px) {
  .cv > .call_back {
    display: none; }

  .cv .menu_button {
    margin-right: 5%; }

  .cv .logo {
    margin-left: 5%; } }
@media (max-width: 420px) {
  .row > div {
    width: 98%; } }

/*# sourceMappingURL=style.css.map */