@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px LatoRegular, sans-serif;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:focus{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
.wrapper {
	/* min-width: 10px; */
	/* max-width: 750px; */
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	width: 100%;
	height: 123px;
	background: #ffffff;
	position: fixed;
	z-index: 9;
}

body{
	background: #000;
}

.head_row{
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
}

.cv{
	background: #fff;
	padding: 1% 0 0.5%;
	box-sizing: border-box;
}

.logo{
	float: left;
	/* padding: 21px 0 0 38px; */
}

.logo img{
	width: 100%
}

.menu>ul>li{
	float: left;
	width: auto;
	margin: 0 2%;
}

.menu>ul>li ul li{
	width: auto
}

.menu>ul>li.color a{
	color: #017fb7;
}

.menu>ul>li a{
	text-transform: uppercase;
	color: #1e1e1e;
	font-size: 17px;
	font-weight: bold;
}

.menu>ul>li>.line{
	width: 20px;
}

.line{
	height: 2px;
	background: blue;
	width: 0px;
}

.menu ul li:hover > .line{
	width: 100%;
	transition: 1s;
}

.menu{
	margin:1% auto;
}

#submenu_1,#submenu_2,#submenu_3,#submenu_4{
	display: none;
	position: absolute;
	width: 20%;
	min-width: 300px;
	background: #fff;
	padding: 1%;
}
#submenu_2,#submenu_3,#submenu_4{
	left: 120px;
}

#submenu_s1:hover #submenu_1{
	display: block
}
#submenu_s2:hover #submenu_2{
	display: block
}
#submenu_s3:hover #submenu_3{
	display: block
}
#submenu_s4:hover #submenu_4{
	display: block
}

/* li.submenu_s1.color:hover > div.submenu_1{
	display: block;
}

li.submenu_s1.color. li.submenu_s2.color:hover .submenu_2{
	display: block;
}

li.submenu_s3.color:hover > div.submenu_3{
	display: block;
}

li.submenu_s4.color:hover > div.submenu_4{
	display: block;
} */

#city_name,#city_tytle,#city_num{
	display: inline-block;
}


.clear:after,
.clear:before {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}
